{% extends "layout.html" %}

{% block pageTitle %}
  Not responded
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="/supplier/index" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}



<main class=@govuk-main-wrapper" id="main-content" role="main">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-7"><span class="govuk-caption-l">Cabinet office FM services</span>Contract summary</h1>

      <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Not responded
  </strong>
</div>
<span class="govuk-heading-s">You did not respond to this contract offer within the required timescales, therefore it was automatically declined with the reason of 'no response’.</span>
<details class="govuk-details" data-module="govuk-details">
   <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text govuk-!-font-size-16">Contract offer history</span>
     </summary>
      <div class="govuk-details__text"><p class="govuk-body-s">This contract offer was closed on 22 November 2019, 2:37pm.<br/>
      This contract offer was received on 20 November 2019, 2:37am.</p></div>
 </details>



<h2 class="govuk-heading-m">Requirements</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Buyer
          </dt>
          <dd class="govuk-summary-list__value">
            	Cabinet office
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/juggling-balls">

              <span class="govuk-visually-hidden"> TBC</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Contract name
          </dt>
          <dd class="govuk-summary-list__value">
            	Cabinet office FM services
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/juggling-balls">

              <span class="govuk-visually-hidden"> TBC</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
        Contract number
          </dt>
          <dd class="govuk-summary-list__value">
            RM330-DA2234-2019
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/juggling-balls">

              <span class="govuk-visually-hidden"> TBC</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contract value
          </dt>
          <dd class="govuk-summary-list__value">
            £750,026
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/juggling-trick">

              <span class="govuk-visually-hidden"> TBC</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Framework, sub-lot
          </dt>
          <dd class="govuk-summary-list__value">
            RM3830, sub-lot 1a
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/juggling-trick">

              <span class="govuk-visually-hidden"> TBC</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Route to market
          </dt>
          <dd class="govuk-summary-list__value">
            Direct award
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/juggling-trick">

              <span class="govuk-visually-hidden"> TBC</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Initial call-off period
          </dt>
          <dd class="govuk-summary-list__value">
            <details class="govuk-details" data-module="govuk-details">
               <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text govuk-!-font-size-16">7 years</span>
                 </summary>
                  <div class="govuk-details__text"><p class="govuk-body-s">Starts on 1 Nov 2019 and ends on 31 Oct 2026.</p></div>
             </details>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/juggling-trick">

              <span class="govuk-visually-hidden"> TBC</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mobilisation period
          </dt>
          <dd class="govuk-summary-list__value">
            <details class="govuk-details" data-module="govuk-details">
               <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text govuk-!-font-size-16">4 weeks</span>
                 </summary>
                  <div class="govuk-details__text"><p class="govuk-body-s">Starts on 3 Oct 2019 and ends on 31 Oct 2019.</div>
             </details>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/juggling-trick">

              <span class="govuk-visually-hidden"> TBC</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Optional call-off extension <Br/>period 1
          </dt>
          <dd class="govuk-summary-list__value">
            <details class="govuk-details" data-module="govuk-details">
               <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text govuk-!-font-size-16">1 year</span>
                 </summary>
                  <div class="govuk-details__text"><p class="govuk-body-s">Starts on 1 Nov 2026 and ends on 31 Oct 2027.</div>
             </details>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/juggling-trick">

              <span class="govuk-visually-hidden"> TBC</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Optional call-off extension <Br/>period 2
          </dt>
          <dd class="govuk-summary-list__value">
            <details class="govuk-details" data-module="govuk-details">
               <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text govuk-!-font-size-16">1 year</span>
                 </summary>
                  <div class="govuk-details__text"><p class="govuk-body-s">Starts on 1 Nov 2027 and ends on 31 Oct 2028.</div>
             </details>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/juggling-trick">

              <span class="govuk-visually-hidden"> TBC</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Date of first indexation
          </dt>
          <dd class="govuk-summary-list__value">
           22 February 2021
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/juggling-trick">

              <span class="govuk-visually-hidden"> TBC</span>
            </a>
          </dd>
        </div>






        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Buildings and services
          </dt>
          <dd class="govuk-summary-list__value">
            <details class="govuk-details" data-module="govuk-details">
               <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text govuk-!-font-size-16">Barton court stone</span>
                 </summary>
                  <div class="govuk-details__text">
                    <ul class="govuk-list govuk-list--bullet">
                      <li class="govuk-body-s">High voltage (HV) and switchgear maintenance</li>

                    </ul>

                  </div>
             </details>
             <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                 <span class="govuk-details__summary-text govuk-!-font-size-16">CCS London office 5th floore</span>
                  </summary>
                   <div class="govuk-details__text">
                     <ul class="govuk-list govuk-list--bullet">
                       <li class="govuk-body-s">High voltage (HV) and switchgear maintenance</li>
                       <li class="govuk-body-s">Locksmith services</li>
                       <li class="govuk-body-s">Helpdesk services</li>
                     </ul>

                   </div>
              </details>
              <details class="govuk-details" data-module="govuk-details">
                 <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text govuk-!-font-size-16">Phoenix house</span>
                   </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list govuk-list--bullet">
                        <li class="govuk-body-s">High voltage (HV) and switchgear maintenance</li>

                      </ul>

                    </div>
               </details>
               <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                   <span class="govuk-details__summary-text govuk-!-font-size-16">Vale court</span>
                    </summary>
                     <div class="govuk-details__text">
                       <ul class="govuk-list govuk-list--bullet">
                         <li class="govuk-body-s">High voltage (HV) and switchgear maintenance</li>

                       </ul>

                     </div>
                </details>
                <details class="govuk-details" data-module="govuk-details">
                   <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text govuk-!-font-size-16">W Cabinet offices</span>
                     </summary>
                      <div class="govuk-details__text">
                        <ul class="govuk-list govuk-list--bullet">
                          <li class="govuk-body-s">High voltage (HV) and switchgear maintenance</li>
                          <li class="govuk-body-s">Locksmith services</li>
                          <li class="govuk-body-s">Helpdesk services</li>
                        </ul>

                      </div>
                 </details>
          </dd>

          <dd class="govuk-summary-list__actions">
            <a href="/juggling-balls">

              <span class="govuk-visually-hidden"> TBC</span>
            </a>
          </dd>
        </div>

        </dl>

        <h2 class="govuk-heading-m">Buyer contact details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Cabinet office
        </dt>
        <dd class="govuk-summary-list__value">
          <details class="govuk-details" data-module="govuk-details">
             <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text govuk-!-font-size-16">Contact details</span>
               </summary>
                <div class="govuk-details__text"><p class="govuk-body-s">Name: Miss Evelyn Smith<br/>
                Telephone: 0300 821 4554<br/>
              <a href="evelyn@celaningltd.co.uk">evelyn@celaningltd.co.uk</a><br/>
            Address: Cleaning road, London, SW1 1ET</p></div>
           </details>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/juggling-trick">

            <span class="govuk-visually-hidden"> TBC</span>
          </a>
        </dd>
        </div>

  </dl>
<h2 class="govuk-heading-m">Call-off contract documents</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    .ZIP
    </dt>
    <dd class="govuk-summary-list__value">
    <a href="#" class="govuk-link">Download CAll-off contract</a>
    <span id="more-detail-hint" class="govuk-hint">
    14 May 2019, 11:47am
  </span>
    </dd>
  </div>






</dl>





      <form action="/supplier/" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button govuk-button--secondary">
          Return to dashboard
        </button>

      </form>
</main>

{% endblock %}
