{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="start.html">Back</a>
{% endblock %}

{% block content %}

{% if error %}

  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#passport-issued-error">Please select an answer</a>
        </li>
      </ul>
    </div>
  </div>

{% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="juggling-balls-answer" method="post">
  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-heading-xl">
        How many balls can you juggle in one show?
      </h1>
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="juggling-balls-1" name="juggling-balls" type="radio" value="3 or more"{{checked("juggling-balls","3 or more")}}>
        <label class="govuk-label govuk-radios__label" for="juggling-balls-1">
          3 or more
        </label> </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="juggling-balls-2" name="juggling-balls" type="radio" value="1 or 2"{{checked("juggling-balls","1 or 2")}}>
        <label class="govuk-label govuk-radios__label" for="juggling-balls-2">
        1 or 2
        </label> </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="juggling-balls-3" name="juggling-balls" type="radio" value="None, I can't juggle" {{checked("juggling-balls","None, I can't juggle")}}>
        <label class="govuk-label govuk-radios__label" for="juggling-balls-3">
          None - I cannot juggle
        </label> </div>

    </div>
  </fieldset>
</div>


        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
